@model ProjectCoffee.ViewModel.UserViewModel
@using ProjectCoffee.Models;
@{
    ViewBag.Title = "Show-Menu";
}

<h2 style="color:white;">Menu</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <table class="styled-table">
            <thead>
                <tr class="active-row">
                    <th>Item </th>
                    <th>Price </th>
                    <th>Availability </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Item item in Model.Items)
                {
                    var base64 = Convert.ToBase64String(item.file);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);

                <tr class="active-row">
                    <td>@item.Info</td>
                    <td>@(item.Price)₪</td>
                    @if (item.Availability)
                    {
                        <td>Available</td>
                    }
                    @if (!item.Availability)
                    {
                        <td>Not Available</td>
                    }
                    <td><img src='@imgsrc' style="max-width:100px; max-height:100px;" /></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
